/*
 * COMMON
 */

.shell-commands-hide {
    display: none;
}


/*
 * SHELL COMMAND SETTING CONTAINERS
 */

div.shell-commands-name-setting,
div.shell-commands-shell-command-setting,
div.shell-commands-preview-setting {
    padding: 0;
}

div.shell-commands-name-setting {
    padding-top: 18px;
}

div.shell-commands-shell-command-setting {
    border-top: none;
    padding: 5px 0; /* Padding top & bottom 5px, sides 0. */
}

div.shell-commands-preview-setting {
    border-top: none;
    padding-bottom: 18px;
}

div.shell-commands-shell-command-setting div.setting-item-info {
    /* Make the left cell (=div.setting-item-info) to have no space at all: */
    flex: none;
    flex-grow: unset;
    margin-right: 0;
}


/*
 * SHELL COMMAND SETTING FIELDS
 */

div.shell-commands-shell-command-setting input[type=text] {
    width: 100%;
}

div.shell-commands-hotkey-info svg {
    vertical-align: middle; /* Not middle but close enough. */
}

/*
 * SHELL COMMAND ICONS (not button icons, just informational icons)
 */

span.shell-commands-main-icon-container {
    margin-left: 10px;
}


/*
 * Tab elements
 * This CSS is copied 2021-10-21 from https://www.w3schools.com/howto/howto_js_tabs.asp
 * Modifications:
 *  - Renamed classes
 */

/* Style the tab */
.SC-tab-header {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.SC-tab-header button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.SC-tab-header button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.SC-tab-header button.active {
    background-color: #ccc;
}

/* Style the tab content */
.SC-tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
